*, body {
    margin: 0;
    padding: 0;
}

.search-box {
    margin: 15% auto;
}
@media screen  and (min-width: 1920px){
    .search-box {
        width: 45%;
    }
}

@media screen and (min-width: 800px) {
    .search-box {
        width: 60%;
    }
}


@media screen  and (max-width: 800px){
    .search-box {
        width: 60%;
    }
}

header {
    height: 30px;
    background-color: black;
}
.align-right {
    text-align: right;
}

header a {
    margin-right: 12px;
    color: #FFF;
    line-height: 30px;
}

.search-box {
    line-height: 35px;
}

input {
    outline: none;
}
.search-content {
    line-height: 35px;
    border-radius: 10px 0 0 10px;
    padding: 0 10px;
    border: #808080 2px solid;
    border-right-width: 0;
    width: calc(100% - 102px);
}
.search-content:focus {
    border: #808080 2px solid;
    border-right-width: 0;
}

.search-btn {
    float: right;
    line-height: 35px;
    width: 80px;
    border: #808080 2px solid;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
}

.nav-box {
    margin: 1em;
}
.nav-contents {
    border: #808080 solid 1px;
}
.nav-content {
    display: inline-flex;
    color: #000;
    padding: 0.5em;
}

.nav-content-type {
    width: 10%;
    cursor: pointer;
}

.nav-content-name {
    width: 20%;
}

@media screen and (max-width: 800px) {
    .nav-content-address {
        width: 50%;
    }
}

@media screen and (min-width: 800px) {
    .nav-content-address {
        width: 30%;
    }
    .nav-content-desc {
        width: 30%;
    }
    .nav-content-desc> a {
        overflow: hidden;
    }
}


.nav-type {
    display: inline-flex;
    border: #808080 1px solid;
    margin-top: 5px;
    margin-left: 1em;
}
.nav-type-li {
    border: #808080 1px solid;
    padding: 5px 8px;
    cursor: pointer;
}

